<!-- start custom head snippets -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SLQCSYRVVS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-SLQCSYRVVS");
</script>
<meta name="google-site-verification" content="krxdfpPBR03bGNIYfBs0QIg5rjzrL2u6M0frupqFs4E" />
<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
